* {
    margin: 0;
    padding: 0;
   
}
.first {
    background-color: rgba(51,75,53,255);
    width: 100%;
    height: 600px;
}

nav {
    font-size: large;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    color: #f6eee1;
}

li {
    display:inline-block;
    justify-content:space-between;
    padding: 15px 30px;
}

a {
    text-decoration: none;
    color:#f6eee1;
}

.big {
    color:#f6eee1 ;
    font-size: 90px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    margin-left: 300px; 
    z-index: 10;
}

img {
    height: 400px;
    width: 300px;
    margin:0px 50px;
    opacity: 0.6;
    transform: translate(50px,-100px);
    z-index: 1;
}

.tog {
    display:flex;
}

.info {
    font-size: x-large;
    height: 100px;
    padding: 50px;
    opacity: 0.9;
}

.second {
    background-color: #151108;
    color: #f6eee1;
    padding-bottom: 80px;
    height: 350px;
}

.second h1 {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.second h2 {
    padding:10px;
    padding-left: 25px;
    background-color: #322a1e;
    display: flex;
    justify-content:left;
    margin-right: 200px;
    margin-left: 200px;
    border-top-left-radius:60px ;
 }

 .second p {
    padding:15px ;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    background-color: #322a1e;
    margin-right: 200px;
    margin-left: 200px;
    display: flex;
    justify-content: center;
    border-bottom-right-radius: 60px ;
 }

 .exp {
    background-color: rgba(252,174,22,255);
    font-size: larger;
    width: 500px;
    transform: translate(50px , -130px);
    
}

.exp li {
    list-style: circle;
}

 .exp b {
    font-size: x-large;
 }

 #exp {
    background-color: #151108;
    color: #322a1e;
    justify-content: space-evenly;
    display: flex;
 }

 .skill {
    background-color: rgba(51,75,53,255);
    height: 500px;
    color: #f6eee1;
    font-size: x-large;
    padding: 15px;
    justify-content: space-evenly;
    display: flex;
 }
 
 .inner {
    margin-top: 100px;
    background-color:rgba(44, 41, 41, 0.989);
    width: 500px;
    height: 300px;
    border-radius: 10%;
 }
 
 .inner h2 {
    display: flex;
    justify-content: center;
    padding-top: 20px;
 }

#circle {
    height: 300px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    object-fit: cover;
    transform: translate(10px);
}

figure {
    display: block;
}

figcaption {
    padding-left: 10px;
    padding-bottom: 10px;
    background-color:rgba(44, 41, 41, 0.989);
    width: 293px;
    transform: translate(58px ,-10px);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.last {
    background-color:rgba(51,75,53,255) ;
    color: white;
    font-weight: 800;
    display: flex;
    justify-content: center;
    padding: 40px;
    font-style: italic;
}